header .header__container
{
    justify-content: center;
    
}
.header__container .nav__container 
{
    width: 100%;
}
.header__container .nav__container .cont-nav
{
    width: 100%;
}
.header__container .nav__container .cont-nav ul
{
    display: flex;
    overflow-x:scroll;
    overscroll-behavior-x:contain ;
    scroll-snap-type:x proximity;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
}
.header__container .nav__container .cont-nav ul li
{
    height: fit-content;
}
main
{
    display:flex;
    flex-direction: column;
}
.main__body__container .contenedor_img
{
    margin-top: 1.5rem;
}
main aside
{
    order:2;
}
main aside .container__asside .cont-assi
{
    display:flex;
    overflow-x:scroll;
    overscroll-behavior-x:contain ;
    scroll-snap-type:x proximity;
    flex-wrap:nowrap;
    border:none;
    width: 100%;
}
.container__asside .cont-assi div
{
    min-width: 100px;
    min-height:100px;
    margin: 10px 30px;
    scroll-snap-align: center;
}
main .main__container 
{
    height:60vh;
}