header .header__container
{
    justify-content: center;
    
}
.header__container .nav__container 
{
    width: 100%;
}
.header__container .nav__container .cont-nav
{
    width: 100%;
}
.header__container .nav__container .cont-nav ul
{
    display: flex;
    overflow-x:scroll;
    overscroll-behavior-x:contain ;
    scroll-snap-type:x proximity;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    
}
.header__container .nav__container .cont-nav ul li
{
    height: fit-content;
}
main
{
    display:flex;
    flex-direction: column;
    height: auto;
}
.main__body__container
{
    height: 100%;
}
main .main__container .main__body__container .main__text__container
{
    width: 90%;
}
.main__body__container .contenedor_img
{
    display: flex;
    margin-top: -4rem;
    align-items: center;
}

main aside
{
    order:2;
    border-top: 2px dotted #000;
    border-bottom: 2px dotted #000;
}
main aside .container__asside .cont-assi
{
    display:flex;
    overflow-x:scroll;
    overscroll-behavior-x:contain ;
    scroll-snap-type:x proximity;
    flex-wrap:nowrap;
    border:none;
    width: 100%;
}
.container__asside .cont-assi div
{
    min-width: 100px;
    min-height:100px;
    margin: 10px 30px;
    scroll-snap-align: center;
}
main .main__container 
{
    height:85vh;
}

@media (max-width:500px) {
    .header__container .nav__container .cont-nav ul
    {
        justify-content:flex-start;
    }
}