*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}

header 
{
    width: 100%;
    height:auto;
    background:#0F0E0E;
}
header .header__container
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content:space-between; 
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.header__container  .logo__container
{
    color:#fff;
    font-size: 3rem;
}
.header__container .logo__container span
{
    display: inline-block;
    width: 120px;
    height: 80px; 
    background:url('../img/logo.png') center/100% 100% no-repeat;
    margin: 0 5rem;
}
.header__container .nav__container
{
    padding: 0 2rem;
}
.header__container .nav__container .cont-nav ul
{
    list-style-type: none;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content:center;
}
.header__container .nav__container .cont-nav ul li
{
    display: block;
    background:#1C0A00;
    padding:1rem;
    border: 1px solid #fff;
    margin: 2px 5px;
}
.nav__container a
{
    text-decoration: none;
    color:#CC9544;
    text-shadow: 1px 1px 10px #632626 ;
}
.header__container .nav__container ul li:hover
{
    background:#541212;
}
.nav__container a:hover
{
    color:#E3CAA5;  
}
main
{
    display: grid;
    grid-template-columns:20% repeat(auto-fit,minmax(250px,1fr));
    height: auto;
}
main aside
{
 grid-column: span 1;
 background-color:#495371;
 height: 100%;
}

main .main__container
{
    grid-column:2/-1;
    color: #fff;
    /* background:linear-gradient(300deg,#062C30,#05595B) */
    background:url('../img/fond.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:center;
}

main .main__container .main__body__container
{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
main .main__container .main__body__container .main__text__container
{
    text-align:center;
    color: rgb(8, 0, 97);
    width: 70%;
    margin: 0 auto;
}
main .main__container .main__body__container .main__text__container h2
{
    font-size: 4rem;
    font-weight: bold;
    text-decoration:underline;
    text-shadow: 1px 1px 10px rgb(197, 241, 1);
}
main .main__container .main__body__container .main__text__container p
{
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: #000;  
    color: rgb(147, 251, 62);
    border-radius: 20px; 
}
.main__body__container .contenedor_img
{
    width: 90%;
    height: 100%;
    margin-top: 10rem;
    align-self: center;

}
.main__body__container .contenedor_img .img
{
    display:block;
    width: 100%;
    height:60vw;
    min-height: 280px;
    max-height:500px;
    margin: 0 auto;
    border: 5px solid #000;
    box-shadow: -1px -1px 10px rgb(0, 0, 0);
    background:  url('../img/fondo1.jpg') center/100% 100% no-repeat;;
}

main aside .container__asside
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-right: 5px double #000;
}
.container__asside .cont-assi
{
   
    width:90%;
}
.container__asside .cont-assi div
{
    width:100%;
    min-height:200px;
    border:1px solid; 
    margin: 10px 0;
    border-radius: 10px;
}
main aside .container__asside .elem-asside-1
{
    background: #180A0A url('../img/akshan.jpg') center/100% 100% no-repeat;
}
main aside .container__asside .elem-asside-2
{
    background:#180A0A url('../img/Illaoi.jpg') center/100% 100% no-repeat;
}
main aside .container__asside .elem-asside-3
{
    background:#180A0A url('../img/Irelia.jpg') center/100% 100% no-repeat;
}
main aside .container__asside .elem-asside-4
{
    background:#180A0A url('../img/Aphelios.jpg') center/100% 100% no-repeat;
}
footer 
{
    display: block;
    width: 100%;
    min-height: 130px;
    background:linear-gradient(360deg,#180A0A,#E2D784,#180A0A);
}
footer .footer__container
{
    width:fit-content;
    margin: 0 auto;
    color: #362706 ;
    font-size: 1.5rem;
    padding-top:1rem;
    font-weight: 600;
    line-height:1.8rem;
    text-align: center;
}
footer .footer__container p
{
    margin: 5px 0;
    text-shadow: 1px 1px 3px #fff,2px 2px 5px #fff;
}
footer .footer__container span
{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('../img/logofooter.png') center/100% 100% no-repeat;
    animation-name: teemo;
    animation-duration:0.5s;
    animation-iteration-count:infinite;
}
@keyframes teemo {
    from {transform: rotate(10deg);}
    to {transform: rotate(-10deg);}
  }
  